{% if flash.getMessage('info') %}
<div class="alert alert-info my-4" role="alert">
        <p>{{ flash.getMessage('info') | first }}</p>
</div>
{% endif %}
{% if flash.getMessage('error') %}
<div class="alert alert-danger my-4" role="alert">
        <p>{{ flash.getMessage('error') | first }}</p>
</div>
{% endif %}
